extends ../layout

block content
    a(href='/bicicletas') Volver

    br
    br
    br

    h1 Modificacion bicicleta

    br
    br

    form(action=`/bicicletas/${bici.id}/update` method="post")
        label(for="id") Id:
        input#id(type="text" name="id" value = bici.id)
        br
        label(for="color") Color:
        input#color(type="text" name="color" value = bici.color)
        br
        label(for="modelo") Modelo:
        input#modelo(type="text" name="modelo" value = bici.modelo)
        br
        label(for="lat") Latitud
        input#modelo(type="text" name="lat" value = bici.ubicacion[0])
        br
        label(for="lon") Longitud
        input#modelo(type="text" name="lon" value = bici.ubicacion[1])
        br
        br
        input.btn(type="submit" value="oK")